.FadeTransition{
    opacity: 0;
    animation: Fade-In ease 4s forwards;
    animation-delay: 7.3s;
     
}
@keyframes Fade-In
{
    to {
        opacity: 1;
    }
}
.SlideIn1{
    display: block;
    opacity: 0;
    transform: translateX(-200%);
    animation: slide-in 4s forwards;
     animation-delay: 1s;

}
.SlideIn2{
    display: block;
    opacity: 0;
    transform: translateX(-200%);
    animation: slide-in 4s forwards;
    animation-delay: 2.5s;
}
.SlideIn3{
    display: block;
    opacity: 0;
    transform: translateX(-200%);
    animation: slide-in ease-out 4s forwards;
    animation-delay: 1.5s;
}
@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes Slider{
    0%{
        transform: translateX(-50%);

    }
    50%{
        transform: translateX(-50%);
    }
    60%{
        transform: translate(1270px);
    }
    70%{
        transform: translate(1270px);
    }


    100%{
        transform: translatex(1270px);
    }
}

.SliderWrapper{
    animation: Slider 15s ease-in-out infinite alternate;
}


