
.MainPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
        background-color: black;
        margin-top: 60px;
        width: 100%;
        height: 800px;
        top: 1px;
        left: 0;
        right: 0;
        overflow: hidden;
        border-bottom: 3px solid rgb(124,124,124);
        position: absolute;
}

.LabelContainer{

    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    height:  fit-content;
    border-radius: 10px;  
    bottom:  0px;
    width: 200%;
    padding-bottom: 60px;
    padding-left: 50px;
    margin: auto;
    left: 0;
    position: absolute;
    
    
}
.FirstMainLabelStyle{
    
    color: white;
    font-size: 60px;
    font-weight: bold;
    
    
}
.SecondMainStyleText{
    color: white;
    padding-top: 10px ;
    padding-left: 20px;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
}

.FirstMainPhoto,.SecondMainPhoto{
    width:100%;
    height: 100%;
    object-fit: cover;
    
}
.SliderWrapper{
    z-index: 10;
    position: absolute;
    width: 200%;
    display: flex;
    
    
transition: transform 0.5 ease-in-out;
justify-content: center;
align-items: center;

}
.ContentContainer{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.Spacer{
    width: 100%;
    height: 880px;
    margin-top: 60px;
}
.ContentTextStyle{ 
    display: block;
    text-align: center;
    font-size: 50;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0 px rgb(243, 243, 232);
    
        
    

}
@media (max-width: 768px)
{
    .LabelContainer{
    height: 60px;
    padding-left: 20px;
    }
.FirstMainLabelStyle{
    font-size: 20px;
}
.MainPhoto{
    width: 100%;
    height: 450px;
}
.SecondMainStyleText
{
    font-size: 15;
}
.Spacer{
    height: 500px;
}
}
.AboutContent{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    border: 4px solid;
    align-items: center;
    position: absolute;
    left: 0px ;
    border-left: 0;
    border-right: 0;
    background-color: rgb(240, 240, 240);
    height:45vw;

}
.AboutTextStyle{
    font-size: 23;
    font-weight: bolder;
    color: rgb(14, 14, 14);
}
.GalleryContent
{
   height: 60vw;
   background-color: rgb(25, 25, 25); 
   box-shadow: 0px 0px 8px rgb(14, 14, 14);
}
