
.MainPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
        background-color: black;
        margin-top: 60px;
        width: 100vw;
        height: 800px;
        top: 1px;
        left: 0;
        right: 0;
        overflow: hidden;
        border-bottom: 3px solid rgb(124,124,124);
}

.LabelContainer{

    z-index: 1000;
    background-color: rgba(0,0,0,0.6);
    height:  fit-content;
    border-radius: 10px;  
    bottom:  0px;
    width: 200%;
    padding-bottom: 60px;
    padding-left: 50px;
    margin: auto;
    left: 0;
    position: absolute;
}
.FirstMainLabelStyle{
    
    color: white;
    font-size: 60px;
    font-weight: bold;
    
    
}
.SecondMainStyleText{
    color: white;
    padding-top: 10px ;
    padding-left: 20px;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
}

.FirstMainPhoto,.SecondMainPhoto{
    width:100%;
    height: 100%;
    object-fit: cover;
    
}
.SliderWrapper{
    z-index: 0;
position: absolute;
    width: 200%;
    display: flex;
    
    
transition: transform 0.5 ease-in-out;
justify-content: center;
align-items: center;

}
.RightReservedLabel{
    color: aliceblue;
    font-size: 30px;
}

