.NavBar {
    width: 100%;
    height: 60px;
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   position:fixed;
   top: 0;
   left: 0;
   right: 0;
   border-bottom: 2px solid rgb(124, 124, 124);
   z-index: 1000;
}
.NavBtn{
    background-color: transparent;
    border: none;
    color: rgb(230, 230, 230);
    font-size: 16px;
    cursor: pointer;;
    text-decoration: none;
    height: 55px;
    align-content: center;
    transition: background-color 0.4s ease;
    font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
justify-content: center;
align-items: center;
display: flex;
}
.NavBtn:hover{ 
        background-color: rgba(255, 255, 255, 0.1);
    }
   .MainPhotoImg{
    margin: auto;
    height: 800px;
    
   }
body{
    background-color: rgb(243, 243, 232);
}
.BottomContainer{
    background-color: rgb(17, 17, 17);
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100px;
    border-top: 3px solid rgb(124, 124, 124);
    margin-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    

}
.RightReservedLabel{
    color: aliceblue;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: .5px black;
}
@media (max-width:768px){

.NavBar{
    width: 100%;
}
.NavBtn{
    font-size: 12px;
}

.BottomContainer{
    height: 50px;
}
.RightReservedLabel{
    font-size: 15;
}
}
html {
    scroll-behavior: smooth;
}
div{
    scroll-margin-top: 80px;    
}
.AboutPhoto{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    border: 5px solid rgb(124, 124, 124);
}
